<%= form_with url: recipes_path, method: :get, local: true do %>
  <div class="grid items-center grid-cols-1 gap-4 p-4 mb-8 border border-[#DDDDCB] lg:grid-cols-2 rounded-xl">
    <div class="col-span-2 mb-4">
      <%= label_tag :query, "Search for a recipe:" %>
      <%= text_field_tag :query, params[:query], class: "border-[#DDDDCB] rounded mt-1  w-full" %>
    </div>

    <div class="flex col-span-2 mb-2">
      <div class="self-center flex-grow border-b"></div>
      <p class="px-2">Or</p>
      <div class="self-center flex-grow border-b"></div>
    </div>

    <div class="col-span-2 mb-4">
      <%= label_tag :ingredient_categories, "Filter by ingredients:" %>
      <%= select_tag :ingredient_categories, options_for_select(@ingredient_categories.pluck(:name, :id), params[:ingredient_categories]), multiple: true, class: "mt-1 block w-full rounded border-[#DDDDCB]" %>
    </div>

    <div class="col-span-2 text-center">
      <%= submit_tag "Search", class: "bg-transparent hover:bg-[#DDDDCB]/70 text-black font-semibold py-2 px-4 border border-[#DDDDCB] hover:border-transparent cursor-pointer rounded" %>
    </div>
  </div>
<% end %>

<div class="grid w-full grid-cols-1 gap-4 lg:grid-cols-4">
  <% @recipes.each do |recipe| %>
    <%= render(Recipe::Card::Component.new(recipe: recipe)) %>
  <% end %>
</div>

<%= paginate @recipes %>
